@{ 
    ViewBag.Title = "Access denied";
}

<div class="text-center">
    <h2 class="text-danger">you do not have access to view this resource</h2>
    <img src="~/images/accessdeniedphoto.jpg" class="img-fluid" width="300" height="300" /><br />
    <a asp-controller="home" asp-action="index" class="btn btn-primary ml-auto mr-auto" style="width:auto;">click here to return to the home page</a>
</div>